@import 'tailwindcss';

@theme {
  --color-obsidian-50: oklch(0.9838 0.0079 286.25);
  --color-obsidian-100: oklch(0.9134 0.0139 272.68);
  --color-obsidian-200: oklch(0.8272 0.0143 272.66);
  --color-obsidian-300: oklch(0.7419 0.0147 272.63);
  --color-obsidian-400: oklch(0.6562 0.0141 266.65);
  --color-obsidian-500: oklch(0.5689 0.0146 266.62);
  --color-obsidian-600: oklch(0.4824 0.0149 271.1);
  --color-obsidian-700: oklch(0.3972 0.0145 264.4);
  --color-obsidian-800: oklch(0.3095 0.015 269.2);
  --color-obsidian-900: oklch(0.2255 0.0149 261.63);
  --color-obsidian-950: oklch(0.1773 0.0133 264.15);

  --color-purple-vivid-50: oklch(0.9511 0.0263 302.58);
  --color-purple-vivid-100: oklch(0.9156 0.049 302.32);
  --color-purple-vivid-200: oklch(0.8581 0.0838 301.71);
  --color-purple-vivid-300: oklch(0.7363 0.160055 299.4973);
  --color-purple-vivid-400: oklch(0.6503 0.2121 298.73);
  --color-purple-vivid-500: oklch(0.5799 0.2364 300.41);
  --color-purple-vivid-600: oklch(0.5171 0.2598 301.69);
  --color-purple-vivid-700: oklch(0.4781 0.2456 301.8);
  --color-purple-vivid-800: oklch(0.4296 0.2194 301.95);
  --color-purple-vivid-900: oklch(0.3797 0.1924 302.13);
  --color-purple-vivid-950: oklch(0.312 0.1563 304.78);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
